/* HTML tags */

body {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

section {
  position: relative;
}

p {
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0.4px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2.0px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a.link {
  padding-bottom: 4px;
  border-bottom: 2px solid;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.4px;
  font-weight: 400;
}

/* Site Navigation */

.logo {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.4px;
  color: rgba(0, 0, 0, 0.8);
  background: rgb(255, 255, 255);
  transition: 0.2s all;
  margin: 0;
}

.logo a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  display: block;
  padding: 6px 10px;
}

.navigation {
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px;
  display: table;
  border-bottom: 1px solid #dddddd;
  background: rgb(255, 255, 255);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.navigation div {
  display: table-cell;
  vertical-align: middle;
}

.navigation div:first-of-type {
  width: 65%;
  padding-left:12px;
}

.navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list--site-navigation {
  width: 100%;
  display: table;
  text-align: center;
}

.list--site-navigation li {
  display: table-cell;
  transition: 0.2s all;
  padding-left: 10px;
  padding-right: 10px;
}

.list--site-navigation li:hover {
  background: rgba(0, 0, 0, 0.04);
}

.list--site-navigation li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: 0.2s all;
}

.list--site-navigation li a:hover {
  color: rgba(0,0,0,0.8);
}
/* Site Content */

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.width-100 {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.width-75 {
  width: 75%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.width-50 {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.width-25 {
  width: 25%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.width-20 {
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.max-width {
  width: inherit;
  max-width: 840px;
  margin: 0 auto;
}

/* Header Image and Slogan */

.header-image {
  height: 560px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.header-image .container {
  max-width: 1000px;
  padding-top: 450px;
  text-align: center;
  margin: auto;
}

.header-image h1 {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size:13px;
  letter-spacing: 2.0px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.96);
  padding: 20px;
  cursor: default;
}

.button--start-yours {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size:13px;
  letter-spacing: 2.0px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.96);
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
}

/* Text */

.text-container {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.text-container h1 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.center-justify-text {
  text-align: center;
}

.left-justify-text {
  text-align: left;
}

.right-justify-text {
  text-align: left;
}

/* Bullets */

.bullet-container {
  width: 100%;
  display: table;
  padding-top: 60px;
  padding-bottom: 60px;
  cursor: default;
}

.bullet-container span {
  text-align: left;
  display: table-cell;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-left: 2px solid;
  margin: 4px;
}

.bullet-container span:first-of-type {
  border: none;
}

.bullet-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  margin: 0;
}

.bullet-container h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 0.4px;
  margin: 0;
  margin-top: 2px;
}

.bullet-container p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 0;
  margin-top: 6px;
  line-height: normal;
  font-style: italic;
}

/* Dual Pane View */

.dual-pane-container{
  width: 100%;
  display: table;
}

.dual-pane-container div {
  display: table-cell;
  vertical-align: text-top;
}

.dual-pane-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 1.0px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.dual-pane-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 1.0px;
  text-transform: uppercase;
  margin-top: 30px;
}

.dual-pane-container .dual-pane-image {
  margin-top: 80px;
  display: block;
  height: 440px;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}

/* Gallery Previews */

.gallery-container {
  display: block !important;
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.gallery-container .image {
  display: block !important;
  width: 90%;
  height: 280px;
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.9);
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  text-align: center;
  overflow: hidden;
}

.gallery-container .hidden {
  display: none !important;
}

.gallery-container .controls {
  display: table;
  width: 100%;
  height: 100%;
}

.gallery-container .controls .left {
  display: table-cell;
  height: 100%;
  cursor: e-resize;
  z-index: 99;
}

.gallery-container .controls .right {
  display: table-cell;
  height: 100%;
  cursor: w-resize;
  z-index: 99;
}

.gallery-container .controls .count {
  letter-spacing: 1.0px;
  display: block;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  padding-right: 15px;
  padding-top: 10px;
  cursor: e-resize;
  font-family: 'Montserrat', sans-serif;
}

.gallery-container .no-selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Meet the team */

.image-grid-container {
  display: table;
  width: 90%;
}

.margin-top-100 {
  margin-top: 100px;
}

.image-grid-container div {
  display: table-cell;
  overflow: hidden;
}

.image-grid-container .image {
  display: block;
  height: 200px;
  width: auto;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: 0.2s all;
  margin-left: 16px;
  margin-right: 16px;
}

.image-grid-container span {
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 1);
  transition: 0.2s all;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: default;
  margin-left: 16px;
}

.image-grid-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}

.image-grid-container figcaption {
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/* Contact Section */

.contact-text {
  padding-top: 20px;
}

/* Site Footer */

.site-footer {
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 1);
}

.site-footer span {
  border: none;
  text-align: center;
}

.site-footer a {
  color: rgba(255, 255, 255, 1);
}

.footer-text {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.2);
}

.footer-text a {
  color: rgba(255, 255, 255, 0.2);
}
