/* HTML tags */

body {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

section {
  position: relative;
}

p {
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0.4px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2.0px;
}

/* Site Navigation */

.logo {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.4px;
  color: rgba(0, 0, 0, 0.8);
  background: rgb(255, 255, 255);
  transition: 0.2s all;
  margin: 0;
}

.logo a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  display: block;
  padding: 6px 10px;
}

.navigation {
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px;
  display: table;
  border-bottom: 1px solid #dddddd;
  background: rgb(255, 255, 255);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

.navigation div {
  display: table-cell;
  vertical-align: middle;
}

.navigation div:first-of-type {
  width: 65%;
  padding-left:12px;
}

.navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list--site-navigation {
  width: 100%;
  display: table;
  text-align: center;
}

.list--site-navigation li {
  display: table-cell;
  transition: 0.2s all;
  padding-left: 10px;
  padding-right: 10px;
}

.list--site-navigation li:hover {
  background: rgba(0, 0, 0, 0.04);
}

.list--site-navigation li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: 0.2s all;
}

.list--site-navigation li a:hover {
  color: rgba(0,0,0,0.8);
}
/* Site Content */

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.width-100 {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.width-75 {
  width: 75%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.width-50 {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.width-25 {
  width: 25%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.width-20 {
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.max-width {
  width: inherit;
  max-width: 840px;
  margin: 0 auto;
}

/* Header Image and Slogan */

.header-image {
  height: 580px;
  background: url("../images/header/dafen-trade-park-front-before.jpg") no-repeat;
  background-size: cover;
}

.header-image .container {
  padding-top: 200px;
  text-align: center;
}

.header-image h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 4.0px;
  color: rgb(255, 255, 255);
}

/* Text */

.text-container {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.text-container h1 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.center-justify-text {
  text-align: center;
}

.left-justify-text {
  text-align: left;
}

.right-justify-text {
  text-align: left;
}

/* Bullets */

.bullet-container {
  width: 100%;
  display: table;
  padding-top: 60px;
  padding-bottom: 60px;
  cursor: default;
}

.bullet-container span {
  text-align: left;
  display: table-cell;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-left: 2px solid;
  margin: 4px;
}

.bullet-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  margin: 0;
}

.bullet-container h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0;
  margin-top: 2px;
}

.bullet-container p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  margin: 0;
  margin-top: 6px;
  line-height: normal;
  font-style: italic;
}

.bullet-container span:first-of-type {
  border: none;
}

/* Dual Pane View */

.dual-pane-container{
  width: 100%;
  display: table;
}

.dual-pane-container div {
  display: table-cell;
  vertical-align: text-top;
}

.dual-pane-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 1.0px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.dual-pane-container .dual-pane-image {
  margin-top: 80px;
  display: block;
  height: 440px;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
}

/* Gallery Previews */

.gallery-preview-container {
  display: block !important;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.gallery-preview-container .image {
  display: block !important;
  width: 90%;
  height: 240px;
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.9);
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.gallery-preview-container a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  letter-spacing: 6.0px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
/* Site Footer */

.site-footer {

}
