/*document style*/

body{
    width: 100%;
    margin: 0px;
}
#displayClass{
    width: 300px;
    height: 60px;
    outline: none;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top:0;
    right:0;
    border: none;
    opacity: 0.8;
    color: #8e44ad;
}
.doc{
    width: 250px;
    font-family: 'merriweather', serif;
    display: inline-block;
    color: #8e44ad;
}
a{text-decoration: none;}
.line{width: 700px;}
.dark-container{
    padding: 40px;
    background: #1b1f23;
}
.light-container{
    padding: 0px 40px;
    padding-bottom: 40px;
    background: #ddd;
}

/*end of document style*/

/* --- navigation --- */

.number-nav-el{
    width: 10px;
    height: 20px;
    text-align: center;
    display: inline-block;
    color: #d9ad44;
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    border: 2px solid;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
}
.number-nav-el:hover{
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/* --- sections --- */

.section-title{
    color: #ffffff;
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block; /* remove */
}

.section-subtitle{
    color: #ffffff;
    font-family: 'merriweather', serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    display: inline-block; /* remove */
}

/* --- text bullets --- */

.text-bullet-number{
    color: #d9ad44;
    font-family: 'montserrat', sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
    display: inline-block; /* remove */
}

.text-bullet-title{
    font-family: 'merriweather', serif;
    font-size: 20px;
    color: #252525;
    display: inline-block; /* remove */
}
.text-bullet-info{
    font-family: 'merriweather', serif;
    font-size: 14px;
    color: #bbb;
    font-style: italic;
    font-weight: 300;
    display: inline-block; /* remove */
}

/* --- articles --- */

.article-button{
    font-family: 'merriweather', serif;
    font-size: 14px;
    color: #fff;
    background: #252525;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding-top: 14px;
    text-decoration: none;
    display: inline-block; /* remove */
}
.article-button:hover{
    background:#d9ad44;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.article-title{
    font-family: 'merriweather', serif;
    color: #252525;
    font-size: 22px;
    font-weight: 400;
    display: inline-block; /* remove */
}

.article-text{
    font-family: 'merriweather', serif;
    color: #7d7d7d;
    font-size: 16px;
}

/* --- colors --- */

.color-block-el{
    width: 20%;
    height: 100px;
    display: inline-block;
    margin: 0px -2px;
    text-align: center;
    padding-top: 80px;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #8e44ad;
}